@import url(_fonts.scss);

* {
  box-sizing: border-box;
}

html {
  font-size: 14px;
}

body {
  font-family: 'Nunito', sans-serif;
  background-color: $bg-color;
  color: white;
}

.layout {
  width: 100%;
  height: 100vh;
}

.invalid-feedback {
  display: block;
}

.form-label.required {
  &::after {
    content: ' *';
    color: #dd5353;
  }
}
